/*Hoja de estilos Externa*/
body{
    /*background-color: rgb(245, 236, 253);*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    width: 90%;
    margin: auto;
    border: 1px solid purple;
    border-collapse: collapse;
    caption-side: bottom; /* Top or botton */
}
th, td{
    border: 1px solid purple;
    
}
table tr:nth-child(odd){
    background-color: plum;
    color: white;
}
table tr:nth-child(even){
    background-color: rgb(241, 227, 241);
}
th{
    background-color: purple;
    color: white;
    padding: 10px;
}
td{
    padding: 15px;
    text-align: justify;
}/*
table td:hover{
    background-color: palevioletred;
    color: white;
}*/
table tr:hover{
    background-color: palevioletred;
    color: white;
}